
* {
  margin: 20px;
  padding: 0px;
  margin-top: 20px;
}

/* begin styles */

body { 
  /*background-image: url("cherrycopy.jpg");*/
}

header
{
	/*background-image: url(cherrycopy.jpg);*/
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.main-nav
{
	float:right;
	list-style: none;
	margin-top: 30px;
}

.main-nav li
{
	display: inline-block;
}

.main-nav li a
{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
}

html { 
  background:  url(back.gif) no-repeat center center fixed; 
  background-size: cover;
}

body {
  color: red;
  font-size: 30px;
  font-weight: thin;
  font-stretch: extra-expanded;
}
p{  color: blue;
	}

ul {list-style-type: georgian;
list-style-position: 100px;
list-style: none}


a:hover {
  color: blue;
  border-bottom: none;
}

h1 {
  padding: 300px;
  font-family: "Optima", sans-serif;
  font-size: 50px;
  letter-spacing: 10px;
  color: white;
  text-align: center;
}
h3 {
  font-family: "Times New Roman", normal, sans-serif;
  color: white;
  font-size: 20px;
}

a {
	padding: 50px;
  font-family: "Arial", normal, sans-serif;
  color: grey;
  font-size: 15px;
  font-weight: thin;
}