
* {
  margin: 0px;
  padding: 0px;
}

/* begin styles */

body {

  color: blue;
}


body, h1, h2, h3, h4, pre, code {
    font-family: 'Comic Sans MS', 'Comic Sans MS', 'Comic Sans MS', monospace;
    font-size: 15px;
    line-height: 18px;
    color: #854321;
    font-weight: bold;
    font-style: normal;
    word-spacing: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
}