
* {
  margin: 20px;
  padding: 0px;
  margin-top: 20px;
}

/* begin styles */

body { 
  /*background-image: url("cherrycopy.jpg");*/
}

li {
  display: inline;
}

li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

ul {
  background-color: #dddddd;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

body {
  color: red;
  font-size: 30px;
  font-weight: thin;
  font-stretch: extra-expanded;
}
p{  color: blue;
	}

ul {list-style-type: georgian;
list-style-position: 100px;
list-style: none}


a:hover {
  color: blue;
  border-bottom: none;
}

h1 {
  padding: 270px;
  font-family: "Optima", cursive, sans-serif;
  font-size: 50px;
  letter-spacing: 10px;
  color: black;
  text-align: center;
}
h3 {
  font-family: "Times New Roman", normal, sans-serif;
  color: black;
  font-size: 20px;
}

a {
	padding: 50px;
  font-family: "Arial", normal, sans-serif;
  color: grey;
  font-size: 15px;
  font-weight: thin;
}