
* {
  margin: 10px;
  padding: 0px;
  margin-top: 0px;
}

/* begin styles */

body { 
  /*padding: 30px 30px;*/
  font-size: 13px;
  color: grey;
  font-family: "Roboto", sans-serif;
  background-color: white;
}
/*
p{
  font-family: "Roboto", sans-serif;
  line-height: 17px;
}*/

b{
  font-family: "Roboto", sans-serif;
  line-height: 17px;
  padding-left: 670px;
}

a{
  font-size: 13px;
  color: grey;
  font-family: "Roboto", sans-serif;
  background-color: white;
  padding-bottom: 50px;
}

r{
  font-family: "Goudy Old Style";
  line-height: 40px;
  font-size: 35px;
  font-weight: bolder;
  color: black;
}

/*
h2 {
  text-align: 300px;
  color: #808080;
  font-size: 30px;
   font-family: "Verdana", sans-serif;
  font-kerning: 10px;
  font-weight: normal;
  kerning: 30px;
  letter-spacing: 0px;
  padding-left: 250px;
  max-width: 800px;
  line-height: 40px;
}*/

/*h4
{
  padding-left: 150px;
  float: right;
}*/

.img {
  /*position: relative;
  text-align: left;
  padding-left: -100px;
  color: white;
  padding-top: 195px;*/
  float: left;
}

h1{
  font-family: "Helvetica";
  font-size: 50px;
  font-weight: bold;
  color: black;
  padding-top: 300px;
  padding-left: 780px;
}

h2{
  padding-top: 1000px;
  font-family: "Helvetica";
  font-size: 30px;
  font-weight: bold;
  color: black;
  padding-top: 10px;
  padding-left: 280px;
}

h3{
  padding-top:90px;
  font-family: "Helvetica";
  font-size: 30px;
  font-weight: bold;
  color: black;
  padding-left: 280px;
}

h4{
  padding-top: 90px;
  font-family: "Helvetica";
  font-size: 30px;
  font-weight: bold;
  color: black;
  padding-left: 280px;
}

h5{
  padding-top: 90px;
  font-family: "Helvetica";
  font-size: 30px;
  font-weight: bold;
  color: black;
  padding-left: 280px;
}

v1{
  font-family: "Baskerville";
  font-size: 25px;
  font-weight: normal;
  color: black;
  padding-left: 280px;
  line-height: 35px;
  padding-top: 3200px;
}

v2{
  font-family: "Baskerville";
  font-size: 25px;
  font-weight: normal;
  color: black;
  padding-left: 280px;
  line-height: 35px;
  padding-top: 3200px;
}


p{
  font-family: "Baskerville";
  font-size: 25px;
  font-weight: normal;
  color: black;
  padding-left: 780px;
  line-height: 35px;
  padding-bottom: 190px;
}

v{
  font-family: "Baskerville";
  font-size: 25px;
  font-weight: normal;
  color: black;
  padding-left: 280px;
  line-height: 35px;
  padding-bottom: 80px;
}

v3{
  font-family: "Baskerville";
  font-size: 100px;
  font-weight: normal;
  color: black;
  padding-right: 250px;
  /*padding-top: 90px;*/
}
v4{
  font-family: "Baskerville";
  font-size: 100px;
  font-weight: normal;
  color: black;
  padding-right: 450px;
  /*p
  adding-top: 90px;*/
}
v5{
  font-family: "Baskerville";
  font-size: 100px;
  font-weight: normal;
  color: black;
  padding-right: 250px;
  /*padding-top: 90px;*/
}

ul {
  list-style-type: circle;
  margin: 100;
  left-padding: 1000px;
  color:black;
}

a{
  font-family: "Baskerville";
  font-size: 25px;
  font-weight: normal;
  color: black;
  line-height: 35px;
  padding-bottom: 80px;
}

header
{
  /*background-image: url(cherrycopy.jpg);*/
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.main-nav
{
  float: right;
  list-style: none;
  margin-top: 10px;
  padding-bottom: 50px;
}

.main-nav li
{
  display: inline-block;
}

.main-nav li a
{
  color: black;
  text-decoration: none;
  padding: 5px 20px;
  font-family: "Helvetica", sans-serif;
  font-size: 15px;
  font-weight: bold;

.main-nav li.active a
{
  border-bottom:2px solid black;
}

.main-nav li a:hover
{
  border-bottom: 2px solid black;
  /*text-decoration: underline;
  border: 1px solid black;*/
}

.logo img
{
  width: 65px;
  height: auto;
  float: left;
  padding-bottom: 0px;
}
