* {
  margin: 10px;
  padding: 0px;
  margin-top: 0px;
}

body { 
  /*padding: 30px 30px;*/
  font-size: 13px;
  color: grey;
  font-family: "Baskerville", sans-serif;
}
img{
	position: absolute;
  left: 0px;
  top: 0px;
  float:left;
}