
* { margin: 0px; padding: 0px; }

/* make the background of the page black */
body { background: black;}

/* mickey canvas */
#canvas {
  width: 400px;
  height: 600px;
  position: relative;
  background: white;
}

/* shapes */
/* make all divs inside of #canvas a circle */
#canvas div{
  border-radius: 200px;
  position: absolute;
}

/* 
adjust the top and left 
properties of the elements
to position them 
*/

#ear-1 {
  width: 120px;
  height: 120px;
  background: black;

  top: 0px;
  left: 60px;
  
}

#ear-2 {
  width: 120px;
  height: 120px;
  background: black;
  left: 200px;
}

#head {
  width: 160px;
  height: 160px;
  background: beige;
  top: 90px;
  left: 110px;
}

#eye-1 {
  width: 35px;
  height: 10px;
  background: black;
  top: 160px;
  left: 220px;
}

#eye-2 {
  width: 35px;
  height: 10px;
  background: black;
  top: 160px;
  left: 140px;
}
/*
#nose {
  width: 45px;
  height: 45px;
  background: black;
  top: 175px;
  left: 175px;
}*/

#mouth {
  width: 35px;
  height: 35px;
  background: red;
  top: 200px;
  left: 200px;
} 

#body {
  width: 190px;
  height: 190px;
  background: red;
  top: 235px;
  left: 92px;
} 

#button-1 {
  width: 32px;
  height: 32px;
  background: black;
  top: 320px;
  left: 210px;
} 

#button-2 {
  width: 32px;
  height: 32px;
  background: black;
  top: 320px;
  left: 130px;
}

#foot-1 {
  width: 150px;
  height: 120px;
  background: yellow; 
  top: 400px;
  left: 20px;
}

#foot-2 {
  width: 150px;
  height: 120px;
  background: yellow;
  top: 400px;
  right: 50px;
}