* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: #D3EDF4;
}

/* flag canvas */
#canvas {
        width: 1000px;
        height: 600px;
        top: 70px;
        left: 200px;
        position: relative;
        background: white;
}
/*#star {
  width: 10em; height: 8.66em;
  background: rgba(0,0,0,.5);
  transition: .5s;
  cursor: pointer;
}
#star {
  position: relative;
  margin: 4em auto;
  transform: rotate(-30deg) skewX(30deg);
}
.#star:before, #star:after {
  position: absolute;
  width: inherit; height: inherit;
  background: inherit;
  content: '';
}
#star:before {
  transform: skewX(-30deg) skewX(-30deg);
}
#star:after {
  transform: skewX(-30deg) rotate(-60deg) skewX(-30deg);
}
#star:hover { background: rgba(255,0,0,.5); } */

#orange{
  height: 200px;
  width: 1000px;
  background-color: #FF9933;
  top: 161px;
  left: -437px;
  position: absolute;
}

#green{
  height: 200px;
  width: 1000px;
  background-color: #128807;
  bottom: 400px;
  left: 0px;
  position: absolute;
}

#star8 {
  top: 258px;
  left: 460px;
 border: 3px solid #000088;
 background: #000088; width: 80px;
 height: 80px;
 position: absolute;
 -webkit-transform: rotate(180deg);
 -moz-transform: rotate(180deg);
 -ms-transform: rotate(180deg);
 -o-transform: rotate(20eg);
 }
#star9 {
 content: "";
 position: absolute;
 top: 258px;
 left: 460px;
 height: 80px;
 width: 80px;
 background: #000088;
 -webkit-transform: rotate(316deg);
 -moz-transform: rotate(316deg);
 -ms-transform: rotate(316deg);
 -o-transform: rotate(316deg);
 -webkit-transition: all .01s ease-in;
  -moz-transition: all .01s ease-in;
  -o-transition: all .01s ease-in;
  transition: all .01s ease-in;
 }

 #star8:hover {
  background: #2FC2C9;
  border: 3px solid #2FC2C9;
  cursor: default;
    transform: rotate(360deg);
   transition: all 0.3s ease-in-out 0s;
 }

#star9:hover {
  background-color: #2FC2C9;
  cursor: pointer;
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
  border: 10px solid #2FC2C9;
        border-radius: 100%;
        z-index: 86;
        width: 100px;
        height: 100px;
        /*background: blue;*/
        border-radius: 100px;
        position: absolute;
        top:239px;
        left:437px;
}

#circle {
        border: 15px solid #000088;
        border-radius: 100%;
        z-index: 86;
        width: 120px;
        height: 120px;
        /*background: blue;*/
        border-radius: 200px;
        position: absolute;
        bottom: -35px;
        right: -35px;
}
/*
#s1 {
   margin: 0px -70px;
   position: relative;
   display: block;
   color: red;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid white;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.2);
   -webkit-transform: rotate(35deg) scale(.2);
   -ms-transform:     rotate(35deg) scale(.2);
   -o-transform:      rotate(35deg) scale(.2);
}
#s1:before {
   border-bottom: 80px solid white;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 10px;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#s1:after {
   position: absolute;
   display: block;
   color: red;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid white;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: ''; 
}

#s2 {
   margin: 20px -20px;
   position: relative;
   display: block;
   color: red;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid white;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.2);
   -webkit-transform: rotate(35deg) scale(.2);
   -ms-transform:     rotate(35deg) scale(.2);
   -o-transform:      rotate(35deg) scale(.2);
}
#s2:before {
   border-bottom: 80px solid white;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 10px;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#s2:after {
   position: absolute;
   display: block;
   color: red;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid white;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: ''; 
}

#canvas {
        width: 1000px;
        height: 600px;
        top: 70px;
        left: 200px;
        position: relative;
        background: white;
}

#stripe1 {
  height: 45px;
  width: 1000px;
  background-color: red;
  top: 0px;
  left: 0px;
  position: absolute;
} 
#stripe2 {
  height: 50px;
  width: 1000px;
  background-color: black;
  top: 42px;
  left: 0px;
  position: absolute;
} 
#stripe3 {
  height: 45px;
  width: 1000px;
  background-color: red;
  top: 88px;
  left: 0px;
  position: absolute;
} 
#stripe4 {
  height: 50px;
  width: 1000px;
  background-color: black;
  top: 134px;
  left: 0px;
  position: absolute;
} 
#stripe5 {
  height: 45px;
  width: 1000px;
  background-color: red;
  top: 202px;
  left: 0px;
  position: absolute;
} 
#stripe6 {
  height: 50px;
  width: 1000px;
  background-color: black;
  top: 244px;
  left: 0px;
  position: absolute;
} 
#stripe7 {
  height: 45px;
  width: 1000px;
  background-color: red;
  top: 286px;
  left: 0px;
  position: absolute;
} 
#stripe8 {
  height: 50px;
  width: 1000px;
  background-color: black;
  top: 328px;
  left: 0px;
  position: absolute;
} 
#stripe9 {
  height: 45px;
  width: 1000px;
  background-color: red;
  top: 370px;
  left: 0px;
  position: absolute;
} 
#stripe10 {
  height: 50px;
  width: 1000px;
  background-color: black;
  top: 412px;
  left: 0px;
  position: absolute;
} 
#stripe11 {
  height: 45px;
  width: 1000px;
  background-color: red;
  top: 454px;
  left: 0px;
  position: absolute;
} 
#stripe12 {
  height: 50px;
  width: 1000px;
  background-color: black;
  top: 496px;
  left: 0px;
  position: absolute;
} 
#stripe13 {
  height: 45px;
  width: 1000px;
  background-color: red;
  top: 558px;
  left: 0px;
  position: absolute;
} */