* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: tan;
}

/* flag canvas */
#canvas {
        width: 1000px;
        height: 600px;
        top: 70px;
        left: 200px;
        position: relative;
        background: white;
}

#stripe1 {
  height: 42px;
  width: 1000px;
  background-color: red;
  top: 0px;
  left: 0px;
  position: absolute;
} 
#stripe2 {
  height: 46px;
  width: 1000px;
  background-color: black;
  top: 42px;
  left: 0px;
  position: absolute;
} 
#stripe3 {
  height: 42px;
  width: 1000px;
  background-color: red;
  top: 42px;
  left: 0px;
  position: absolute;
} 
#stripe4 {
  height: 46px;
  width: 1000px;
  background-color: black;
  top: 180px;
  left: 0px;
  position: absolute;
} 
#stripe5 {
  height: 42px;
  width: 1000px;
  background-color: red;
  top: 222px;
  left: 0px;
  position: absolute;
} 
#stripe6 {
  height: 46px;
  width: 1000px;
  background-color: black;
  top: 264px;
  left: 0px;
  position: absolute;
} 
#stripe7 {
  height: 42px;
  width: 1000px;
  background-color: red;
  top: 306px;
  left: 0px;
  position: absolute;
} 
#stripe8 {
  height: 46px;
  width: 1000px;
  background-color: black;
  top: 348px;
  left: 0px;
  position: absolute;
} 
#stripe9 {
  height: 42px;
  width: 1000px;
  background-color: red;
  top: 390px;
  left: 0px;
  position: absolute;
} 
#stripe10 {
  height: 46px;
  width: 1000px;
  background-color: black;
  top: 432px;
  left: 0px;
  position: absolute;
} 
#stripe11 {
  height: 42px;
  width: 1000px;
  background-color: red;
  top: 474px;
  left: 0px;
  position: absolute;
} 
#stripe12 {
  height: 46px;
  width: 1000px;
  background-color: black;
  top: 516px;
  left: 0px;
  position: absolute;
} 
#stripe13 {
  height: 42px;
  width: 1000px;
  background-color: red;
  top: 558px;
  left: 0px;
  position: absolute;
} 