* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: tan;
}

/* flag canvas */
#canvas {
        width: 1000px;
        height: 600px;
        top: 70px;
        left: 200px;
        position: relative;
        background: white;
}
/*#star {
  width: 10em; height: 8.66em;
  background: rgba(0,0,0,.5);
  transition: .5s;
  cursor: pointer;
}
#star {
  position: relative;
  margin: 4em auto;
  transform: rotate(-30deg) skewX(30deg);
}
.#star:before, #star:after {
  position: absolute;
  width: inherit; height: inherit;
  background: inherit;
  content: '';
}
#star:before {
  transform: skewX(-30deg) skewX(-30deg);
}
#star:after {
  transform: skewX(-30deg) rotate(-60deg) skewX(-30deg);
}
#star:hover { background: rgba(255,0,0,.5); } */

#orange{
  height: 200px;
  width: 1000px;
  background-color: orange;
  top: -100px;
  left: 100px;
  position: absolute;
}

#star8 {
  top: 250px;
  left: 460px;
 border: 3px solid blue;
 background: blue; width: 80px;
 height: 80px;
 position: relative;
 -webkit-transform: rotate(180deg);
 -moz-transform: rotate(180deg);
 -ms-transform: rotate(180deg);
 -o-transform: rotate(20eg);
 }
#star8:before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 80px;
 width: 80px;
 background: blue;
 -webkit-transform: rotate(320deg);
 -moz-transform: rotate(320deg);
 -ms-transform: rotate(320deg);
 -o-transform: rotate(320deg);
 }

#circle {
        border: 25px solid blue;
        border-radius: 100%;
        z-index: 86;
        width: 150px;
        height: 150px;
        /*background: blue;*/
        border-radius: 200px;
        position: absolute;
        bottom: -60px;
        right: -60px;
}
/*
#s1 {
   margin: 0px -70px;
   position: relative;
   display: block;
   color: red;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid white;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.2);
   -webkit-transform: rotate(35deg) scale(.2);
   -ms-transform:     rotate(35deg) scale(.2);
   -o-transform:      rotate(35deg) scale(.2);
}
#s1:before {
   border-bottom: 80px solid white;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 10px;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#s1:after {
   position: absolute;
   display: block;
   color: red;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid white;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: ''; 
}

#s2 {
   margin: 20px -20px;
   position: relative;
   display: block;
   color: red;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid white;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.2);
   -webkit-transform: rotate(35deg) scale(.2);
   -ms-transform:     rotate(35deg) scale(.2);
   -o-transform:      rotate(35deg) scale(.2);
}
#s2:before {
   border-bottom: 80px solid white;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 10px;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#s2:after {
   position: absolute;
   display: block;
   color: red;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid white;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: ''; 
}

#canvas {
        width: 1000px;
        height: 600px;
        top: 70px;
        left: 200px;
        position: relative;
        background: white;
}

#stripe1 {
  height: 45px;
  width: 1000px;
  background-color: red;
  top: 0px;
  left: 0px;
  position: absolute;
} 
#stripe2 {
  height: 50px;
  width: 1000px;
  background-color: black;
  top: 42px;
  left: 0px;
  position: absolute;
} 
#stripe3 {
  height: 45px;
  width: 1000px;
  background-color: red;
  top: 88px;
  left: 0px;
  position: absolute;
} 
#stripe4 {
  height: 50px;
  width: 1000px;
  background-color: black;
  top: 134px;
  left: 0px;
  position: absolute;
} 
#stripe5 {
  height: 45px;
  width: 1000px;
  background-color: red;
  top: 202px;
  left: 0px;
  position: absolute;
} 
#stripe6 {
  height: 50px;
  width: 1000px;
  background-color: black;
  top: 244px;
  left: 0px;
  position: absolute;
} 
#stripe7 {
  height: 45px;
  width: 1000px;
  background-color: red;
  top: 286px;
  left: 0px;
  position: absolute;
} 
#stripe8 {
  height: 50px;
  width: 1000px;
  background-color: black;
  top: 328px;
  left: 0px;
  position: absolute;
} 
#stripe9 {
  height: 45px;
  width: 1000px;
  background-color: red;
  top: 370px;
  left: 0px;
  position: absolute;
} 
#stripe10 {
  height: 50px;
  width: 1000px;
  background-color: black;
  top: 412px;
  left: 0px;
  position: absolute;
} 
#stripe11 {
  height: 45px;
  width: 1000px;
  background-color: red;
  top: 454px;
  left: 0px;
  position: absolute;
} 
#stripe12 {
  height: 50px;
  width: 1000px;
  background-color: black;
  top: 496px;
  left: 0px;
  position: absolute;
} 
#stripe13 {
  height: 45px;
  width: 1000px;
  background-color: red;
  top: 558px;
  left: 0px;
  position: absolute;
} */